{
    "repository_url": "https://github.com/eulemitkeule/example-python-package.git",
    "branches": [
        "master"
    ],
    "plugins": ['@semantic-release/commit-analyzer', '@semantic-release/release-notes-generator', '@semantic-release/github'],
    "tagFormat": "${version}"
}
